<div class="container">
  <div class="go-back">
    <button routerLink="">Go back</button>
  </div>
  <div class="title">
    <app-title [title]="(olympics$ | async)?.country"></app-title>
  </div>

  <div class="informations-container">
    <app-informations [textInformation]="'Number of entries'"
                      [numberInformation]="(olympics$ | async)?.participations?.length">
    </app-informations>
    <app-informations [textInformation]="'Number of medals'"
                      [numberInformation]="totalMedalsCount">
    </app-informations>
    <app-informations [textInformation]="'Total number of athletes'"
                      [numberInformation]="totalAthleteCount">
    </app-informations>
  </div>

  <div class="chart-container">
    <ngx-charts-line-chart [view]="view"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [xAxis]="xAxis"
                           [yAxis]="yAxis"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           [timeline]="timeline"
                           [results]="chartData">
    </ngx-charts-line-chart>
  </div>
</div>
