.informations {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #007f8c;
  border-radius: 5px;

  p, h3 {
    margin: 5px;
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .informations {
    p, h3 {
      font-size: 3.5vw;
    }
  }
}