<div class="container">
  <div class="title">
    <app-title [title]="'Medal Per Country'"></app-title>
  </div>

  <div class="informations-container">
    <app-informations [textInformation]="'Number of JOs'" [numberInformation]="3"></app-informations>
    <app-informations [textInformation]="'Number of Countries'" [numberInformation]="5"></app-informations>
  </div>

  <div class="chart-container">
    <ngx-charts-pie-chart [view]="view" [results]="chartData" [gradient]="gradient"  [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
