/* You can add global styles to this file, and also import other style files */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04838f;
  border-radius: 20px;
  padding: 10px;
  height: 50px;
  color: white;
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.informations-container {
  margin-top: 30px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  .informations {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #007f8c;
    border-radius: 5px;
  }
}
